#color-swatch-01 {
  background-color: #2b303b;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-02 {
  background-color: #343d46;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-03 {
  background-color: #4f5b66;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-04 {
  background-color: #a7adba;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-05 {
  background-color: #c0c5ce;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-06 {
  background-color: #dfe1e8;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-07 {
  background-color: #eff1f5;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-08 {
  background-color: #bf616a;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-09 {
  background-color: #d08770;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-10 {
  background-color: #ebcb8b;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-11 {
  background-color: #a3be8c;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-12 {
  background-color: #96b5b4;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-13 {
  background-color: #8fa1b3;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-14 {
  background-color: #b48ead;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-15 {
  background-color: #ab7967;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-16 {
  background-color: #ffffff;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-17 {
  background-color: #f1f1f1;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-18 {
  background-color: #e1e4e8;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-19 {
  background-color: #919aa1;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-20 {
  background-color: #6a737d;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-21 {
  background-color: #454545;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-22 {
  background-color: #2f363d;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-23 {
  background-color: #a31f2f;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-24 {
  background-color: #e36209;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-25 {
  background-color: #fffbc4;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-26 {
  background-color: #22863a;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-27 {
  background-color: #008abd;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-28 {
  background-color: #005B80;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-29 {
  background-color: #663fac;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-30 {
  background-color: #cc6d00;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-31 {
  background-color: #000000;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-32 {
  background-color: #1f2129;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-33 {
  background-color: #2b2d3b;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-34 {
  background-color: #a7adba;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-35 {
  background-color: #c0c5ce;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-36 {
  background-color: #dfe1e8;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-37 {
  background-color: #eff1f5;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-38 {
  background-color: #d79da3;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-39 {
  background-color: #da9e8b;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-40 {
  background-color: #ebcb8b;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-41 {
  background-color: #a3be8c;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-42 {
  background-color: #96b5b4;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-43 {
  background-color: #a1acbf;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-44 {
  background-color: #c2a3bb;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-45 {
  background-color: #c7a699;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-46 {
  background-color: #ffffff;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-47 {
  background-color: #f1f4f4;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-48 {
  background-color: #e1e4e8;
  color: #000;
  padding: 0.125rem;
}

#color-swatch-49 {
  background-color: #4b5458;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-50 {
  background-color: #454545;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-51 {
  background-color: #2f363d;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-52 {
  background-color: #272e34;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-53 {
  background-color: #9f1e2d;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-54 {
  background-color: #893a06;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-55 {
  background-color: #575100;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-56 {
  background-color: #185d27;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-57 {
  background-color: #005675;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-58 {
  background-color: #00405c;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-59 {
  background-color: #5f3ba0;
  color: #fff;
  padding: 0.125rem;
}

#color-swatch-60 {
  background-color: #7a4100;
  color: #fff;
  padding: 0.125rem;
}