/* # Base stylesheet for vimlena.com
 *
 * ## Defining color schemes
 *
 * ### `background` and `text` variables
 *
 * - `background-0X`: goes from `01` to `03`, incrementing each time it will
 *   have more contrast with the text colors
 * - `text-0X`: goes from `01` to `04`, incrementing each time it will increase
 *   the contrast with the background colors
 * - stock background and text values are `background-02` and `text-03`
 * - highest possible contrast is `background-01` and `text-04` because they are
 *.  the farthest away from each other on the number line; `background-03` and
 *.  `text-01` would be the lowest contrast for the same reason
 *
 * ### other color variables
 *
 * - most of the other color variables are self-explanatory, but `blue-0X`
 *   goes from `01` to `02` and increments each time it increases the contrast
 *.  with the background
 * - other colors include: `red`, `orange`, `yellow`, `green`, `purple`, and
 *   `brown`. the colors are generally used for styling links and displaying
 *   inline code generated by pandoc automatically when converting from a
 *   markdown to a html file
 *
 * ### Colorscheme sources
 *
 * Dark based on Macchiato theme from Catppuccin,
 * Light based on Latte theme from Catppuccin:
 *     https://catppuccin.com/palette/
 *
 * this css file uses the `@media (prefers-color-scheme: dark/light)` rule to
 * target the correct color scheme to load correctly.
 */

/* ## Colorschemes defined */

@media (prefers-color-scheme: dark) {
    body {
        --background-01: #1e2030;
        --background-02: #24273a;
        --background-03: #363a4f;
        --text-01: #a5adcb;
        --text-02: #b8c0e0;
        --text-03: #cad3f5;
        --text-04: #e1e6f9;
        --red: #ed8796;
        --orange: #f5a97f;
        --yellow: #eed49f;
        --green: #a6da95;
        --blue-01: #7dc4e4;
        --blue-02: #8aadf4;
        --purple: #c6a0f6;
        --brown: #f0c6c6;
    }

    #nav-home-icon {
        content: url("https://vimlena.com/img/icons/home-light.svg");
    }

    #nav-posts-icon {
        content: url("https://vimlena.com/img/icons/document-light.svg");
    }

    #nav-about-icon {
        content: url("https://vimlena.com/img/icons/user-light.svg");
    }
}

@media (prefers-color-scheme: light) {
    body {
        --background-01: #fcfcfd;
        --background-02: #eff1f5;
        --background-03: #e6e9ef;
        --text-01: #7c7f93;
        --text-02: #6c6f85;
        --text-03: #5c5f77;
        --text-04: #4c4f69;
        --red: #d20f39;
        --orange: #fe640b;
        --yellow: #df8e1d;
        --green: #40a02b;
        --blue-01: #209fb5;
        --blue-02: #1e66f5;
        --purple: #8839ef;
        --brown: #dd7878;
    }

    #nav-home-icon {
        content: url("https://vimlena.com/img/icons/home-dark.svg");
    }

    #nav-posts-icon {
        content: url("https://vimlena.com/img/icons/document-dark.svg");
    }

    #nav-about-icon {
        content: url("https://vimlena.com/img/icons/user-dark.svg");
    }
}

/* ## Basic Formatting */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-02);
    color: var(--text-03);
    font-family:
        "Source Sans 3",
        "Source Sans Pro",
        "Open Sans",
        "Droid Sans",
        -apple-system-body,
        -apple-system,
        BlinkMacSystemFont,
        "SF Pro",
        "Roboto",
        "Aptos",
        "Helvetica Neue",
        "Helvetica",
        "Tahoma",
        sans-serif;
    font-kerning: normal;
    font-size: 18px;
    font-variant-ligatures: normal;
    hyphens: none;
    line-height: 1.35;
    margin: 0 auto;
    max-width: 40em;
    padding: 1em;
    text-rendering: auto;
    word-wrap: break-word;
}

@media print {
    body {
        background-color: transparent;
        color: var(--text-02);
        font-size: 16px;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3,
    h4 {
        page-break-after: avoid;
    }
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

img {
    max-width: 100%;
}

figure {
    background-color: var(--background-01);
    border-radius: 0.625em;
    margin: 0;
    padding: 0.5em;
}

blockquote {
    margin: 1em 0 1em 1.7em;
    padding-left: 1em;
    border-left: 0.125em solid var(--text-01);
    color: var(--text-02);
}

hr {
    color: var(--text-02);
}

address {
    font-style: normal;
}

.column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.hanging-indent {
    margin-left: 1.5em;
    text-indent: -1.5em;
}

.task-list {
    list-style: none;
}

.underline {
    text-decoration: underline;
}

/* ## Headings & Header */

header {
    margin-bottom: 4em;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-04);
    font-family:
        "Source Serif 4 Display", "Source Serif 4", "Source Serif Pro", "Baskerville",
        "Baskerville Old Face", "Hoefler Text", "Garamond", "Times New Roman", serif;
    font-weight: 600;
    padding-top: 1em;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    color: var(--text-03);
    font-size: 0.75em;
    line-height: 1.2;
}

#website-title {
    font-size: 2em;
    font-weight: 700;
}

h1 {
    font-size: 1.9em;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1.2em;
}

/* ## Lists */

ol,
ul {
    padding-left: 1em;
}

ul {
    list-style-type: "-  ";
}

li > ol,
li > ul {
    margin-top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li,
ul.tags-list li {
    display: inline;
    font-size: 1.1em;
    padding-right: 0.45em;
    padding-left: 0.45em;
    text-align: center;
}

#TOC {
    list-style: circle;
}

#TOC ul li {
    display: block;
    text-align: left;
}

ul#social-links {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul#social-links li {
    display: inline;
    padding-right: 0.2em;
    padding-left: 0.2em;
}

.post-tag {
    font-family:
        "Source Sans 3",
        "Source Sans Pro",
        "Open Sans",
        "Droid Sans",
        -apple-system-body,
        -apple-system,
        BlinkMacSystemFont,
        "SF Pro",
        "Roboto",
        "Aptos",
        "Helvetica Neue",
        "Helvetica",
        "Tahoma",
        sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

ul.tags-list {
    list-style: none;
}

/* ## Links */

a:link {
    color: var(--blue-02);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

a:visited {
    color: var(--purple);
}

a:focus,
a:hover,
a:active {
    color: var(--red);
}

header a:link,
header a:link,
header a:visited,
header a:focus,
header a:hover,
header a:active {
    text-decoration: none;
    color: var(--text-04);
}

.tags-list li a {
    text-decoration: none;
}

.back-to-top:link,
.back-to-top:visited,
.back-to-top:focus,
.back-to-top:hover,
.back-to-top:active {
    color: var(--blue-01);
    text-decoration: none;
}

/* ## Code & Pre-formatted Text
 *
 * specifically designed to be compatible with the default color scheme pandoc
 * assigns to styling blocks of code
 *
 * the following are a list of `code span.${className}` options:
 * `kw` = Keyword
 * `al` = Alert
 * `er` = Error
 * `an` = Annotation
 * `cv` = CommentVar
 * `in` = Information
 * `at` = Attribute
 * `bn` = BaseN
 * `dv` = DecVal
 * `fl` = Float
 * `st` = String
 * `ot` = Other
 * `cf` = ControlFlow
 * `im` = Import
 * `ch` = Chat
 * `va` = Variable
 * `fu` = Function
 * `ca` = Constant
 * `co` = Comment
 * `do` = Documentation
 * `op` = Operator
 * `pp` = Preprocessor
 * `sc` = SpecialChat
 * `vs` = VerbatimString
 * `ss` = SpecialString
 * `bu` = BuiltIn
 * `wa` = Warning
 */

code {
    background-color: var(--background-01);
    font-family:
        "Inconsolata LGC", "SF Mono", "Andale Mono", "Aptos Mono", "Consolas", "Lucida Console",
        "Lucida Sans Typewriter", monospace;
    font-size: 0.8em;
    line-height: 1.3;
    margin: 0;
    hyphens: manual;
    padding: 0.1em;
    white-space: pre-wrap;
}

pre {
    margin: 1em 0;
    overflow: auto;
    padding: 0.5em;
}

pre code {
    padding: 0;
    overflow: visible;
    overflow-wrap: normal;
}

.sourceCode {
    background-color: var(--background-01);
    overflow: visible;
}

.sourceCode {
    background-color: var(--background-01);
    border-radius: 0.6em;
    overflow: visible;
    padding: 0.15em;
}

pre > code.sourceCode {
    position: relative;
    white-space: pre;
}

pre > code.sourceCode > span {
    display: inline-block;
    line-height: 1.5;
}

pre > code.sourceCode > span:empty {
    height: 1.2em;
}

code.sourceCode > span {
    color: inherit;
    text-decoration: inherit;
}

div.sourceCode {
    margin: 1em 0;
}

pre.sourceCode {
    margin: 0;
}

@media screen {
    div.sourceCode {
        overflow: auto;
    }
}

@media print {
    pre > code.sourceCode {
        white-space: pre-wrap;
    }

    pre > code.sourceCode > span {
        text-indent: -4em;
        padding-left: 4em;
    }
}

pre.numberSource code {
    counter-reset: source-line 0;
}

pre.numberSource code > span {
    counter-increment: source-line;
    left: -3em;
    position: relative;
}

pre.numberSource code > span > a:first-child::before {
    border: none;
    color: var(--background-01);
    content: counter(source-line);
    display: inline-block;
    left: -1em;
    padding: 0 4px;
    position: relative;
    text-align: right;
    user-select: none;
    vertical-align: baseline;
    width: 3em;
}

pre.numberSource {
    border-left: 0.06em solid var(--background-01);
    margin-left: 2em;
    padding-left: 0.25em;
}

@media screen {
    pre > code.sourceCode > span > a:first-child::before {
        text-decoration: underline;
    }
}

code span.kw {
    color: var(--text-03);
    font-weight: bold;
}

code span.al,
code span.er {
    color: var(--red);
    font-weight: bold;
}

code span.an,
code span.cv,
code span.in {
    color: var(--blue-01);
    font-weight: bold;
    font-style: italic;
}

code span.at,
code span.bn,
code span.dv,
code span.fl,
code span.st {
    color: var(--green);
}

code span.ot {
    color: var(--yellow);
}

code span.cf,
code span.im {
    color: var(--purple);
    font-weight: bold;
}

code span.ch,
code span.va {
    color: var(--blue-02);
}

code span.fu {
    color: var(--orange);
}

code span.cn,
code span.dt {
    color: var(--red);
}

code span.co {
    color: var(--text-01);
}

code span.do {
    color: var(--red);
    font-style: italic;
}

code span.op {
    color: var(--text-02);
}

code span.pp {
    color: var(--brown);
}

code span.sc,
code span.vs {
    color: var(--blue-01);
}

code span.ss,
code span.bu {
    color: var(--purple);
}

code span.wa {
    color: var(--orange);
    font-weight: bold;
}

/* ## Tables */

table {
    border-collapse: collapse;
    display: block;
    font-variant-numeric: lining-nums tabular-nums;
    margin: 0.8em 0;
    overflow-x: auto;
    width: 100%;
}

table caption {
    margin-bottom: 0.75em;
}

tbody {
    border-bottom: 0.06em solid var(--text-01);
    border-top: 0.06em solid var(--text-01);
    margin-top: 0.5em;
}

th {
    border-top: 0.06em solid var(--text-01);
    padding: 0.25em 0.5em 0.25em 0.5em;
}

td {
    padding: 0.125em 0.5em 0.25em 0.5em;
}

/* ## @font-face imports
 *
 * brings in fonts from `~/fonts/*.woff2` & `*.ttf`, woff2 is preferred but
 * ttf is included for supporting browsers that may not be outdated or are
 * having issues rendering woff2 for some reason
 */

/* ### Source Sans 3 */

@font-face {
    font-display: swap;
    font-family: "Source Sans 3";
    font-feature-settings: "pnum", "ss01";
    -moz-font-feature-settings: "pnum", "ss01";
    -webkit-font-feature-settings: "pnum", "ss01";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SourceSans3-Regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Source Sans 3";
    font-feature-settings: "pnum", "ss01";
    -moz-font-feature-settings: "pnum", "ss01";
    -webkit-font-feature-settings: "pnum", "ss01";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/SourceSans3-It.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Source Sans 3";
    font-feature-settings: "pnum", "ss01";
    -moz-font-feature-settings: "pnum", "ss01";
    -webkit-font-feature-settings: "pnum", "ss01";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SourceSans3-Bold.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Source Sans 3";
    font-feature-settings: "pnum", "ss01";
    -moz-font-feature-settings: "pnum", "ss01";
    -webkit-font-feature-settings: "pnum", "ss01";
    font-style: italic;
    font-weight: 700;
    src: url("..fonts/AtkinsonHyperlegibleNext-BoldItalic.woff2") format("woff2");
}

/* ### ConsolenaC */

@font-face {
    font-display: swap;
    font-family: "Inconsolata LGC";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inconsolata-LGC.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inconsolata LGC";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Inconsolata-LGC-Italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inconsolata LGC";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Inconsolata-LGC-Bold.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inconsolata LGC";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/Inconsolata-LGC-BoldItalic.woff2") format("woff2");
}

/* ### Source Serif 4 Display */

@font-face {
    font-display: swap;
    font-family: "Source Serif 4 Display";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/SourceSerif4Display-Semibold.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Source Serif 4 Display";
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/SourceSerif4Display-SemiboldIt.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Source Serif 4 Display";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SourceSerif4Display-Bold.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Source Serif 4 Display";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/SourceSerif4Display-BoldIt.woff2") format("woff2");
}
