/* Colorscheme sources
 * 
 * Dark & Dark High Contrast: based on base16 ocean by Chris Kempson
 *     https://github.com/chriskempson/base16-default-schemes/tree/master
 * Light: & Light High Contrast: based on cloud theme by Valerii Lysenko
 *     https://github.com/vallyscode/cloud-vscode-theme/tree/main
 *
 * <body> classes "darkmodehc" & "lightmodehc" are added to <body> element
 * on page load if the user prefers high contrast and dark mode or high
 * contrast and light mode respectively via the javascript file located at
 * ../js/light-dark-switch.js or vimlena.com/js/light-dark-switch.js
 *
 * named the background-0x variables in order of most contrast to least.
 * named text-0x and blue-0x variables from least contrast to most.
 * text-03 is standard body color, background-02 is standard background color.
 */
          /* ------------------------------ *
           | Definine color/contrast scheme |
           * ------------------------------ */
@media (prefers-color-scheme: dark) {
    body {
    --background-01: #2b303b;
    --background-02: #343d46;
    --background-03: #4f5b66;
    --text-01: #a7adba;
    --text-02: #c0c5ce;
    --text-03: #dfe1e8;
    --text-04: #eff1f5;
    --red: #bf616a;
    --orange: #d08770;
    --yellow: #ebcb8b;
    --green: #a3be8c;
    --blue-01: #96b5b4;
    --blue-02: #8fa1b3;
    --purple: #b48ead;
    --brown: #ab7967;
    }
    #nav-home-icon {
        content: url("https://vimlena.com/img/icons/home-light.svg");
    }
    #nav-posts-icon {
        content: url("https://vimlena.com/img/icons/document-light.svg");
    }
    #nav-about-icon {
        content: url("https://vimlena.com/img/icons/user-light.svg");
    }
    /* adds icons to nav bar that correspond with the dark color scheme */
}
@media (prefers-color-scheme: light) {
    body {
        --background-01: #ffffff;
        --background-02: #f1f1f1;
        --background-03: #e1e4e8;
        --text-01: #919aa1;
        --text-02: #6a737d;
        --text-03: #454545;
        --text-04: #2f363d;
        --red: #a31f2f;
        --orange: #e36209;
        --yellow: #fffbc4;
        --green: #22863a;
        --blue-01: #008abd;
        --blue-02: #005b80;
        --purple: #663fac;
        --brown: #cc6d00;
    }
    #nav-home-icon {
        content: url("https://vimlena.com/img/icons/home-dark.svg");
    }
    #nav-posts-icon {
        content: url("https://vimlena.com/img/icons/document-dark.svg");
    }
    #nav-about-icon {
        content: url("https://vimlena.com/img/icons/user-dark.svg");
    }
    /* adds icons to nav bar that correspond with the light color scheme */

}
body.darkmodehc {
    --background-01: #000000;
    --background-02: #1f2129;
    --background-03: #2b2d3b;
    --text-01: #a7adba;
    --text-02: #c0c5ce;
    --text-03: #dfe1e8;
    --text-04: #eff1f5;
    --red: #d79da3;
    --orange: #da9e8b;
    --yellow: #ebcb8b;
    --green: #a3be8c;
    --blue-01: #96b5b4;
    --blue-02: #a1acbf;
    --purple: #c2a3bb;
    --brown: #c7a699;
}
body.lightmodehc {
    --background-01: #ffffff;
    --background-02: #f1f4f4;
    --background-03: #e1e4e8;
    --text-01: #4b5458;
    --text-02: #454545;
    --text-03: #2f363d;
    --text-04: #272e34;
    --red: #9f1e2d;
    --orange: #893a06;
    --yellow: #575100;
    --green: #185d27;
    --blue-01: #005675;
    --blue-02: #00405c;
    --purple: #5f3ba0;
    --brown: #7a4100;
}
          /* ---------------- *
           | Basic formatting |
           * ---------------- */
body {
    background-color: var(--background-02);
    color: var(--text-03);
    font-family: "Source Sans 3", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
    font-kerning: normal;
    font-size: 1.1rem;
    hyphens: none;
    line-height: 1.7;
    margin: 0 auto;
    max-width: 38rem;
    padding: 1rem;
    text-rendering: auto;
    word-wrap: break-word;
}
@media print {
    body {
        background-color: transparent;
        color: var(--text-02);
        font-size: 1.05rem;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3,
    h4 {
        page-break-after: avoid;
    }
}
p {
    margin: 1rem 0rem;
}
img {
    max-width: 100%;
}
article img,
main img,
figure img {
    cursor: pointer;
}
figure {
    background-color: var(--background-01);
    border-radius: 0.625rem;
    margin: 0rem;
    padding: 0.5rem;
}
blockquote {
    border-left: 0.1rem solid var(--text-01);
    color: var(--text-03);
    margin: 1rem 0rem 1rem 1.7em;
    padding-left: 1rem;
}
hr {
    color: var(--text-02);
}
.column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.hanging-indent {
    margin-left: 1.5rem;
    text-indent: -1.5rem;
}
.small-caps {
    font-variant: small-caps;
}
.task-list {
    list-style: none;
}
.underline {
    text-decoration: underline;
}

          /* ----------------- *
           | Headings & Header |
           * ----------------- */
header {
    margin-bottom: 4rem;
    text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-04);
    font-family: "Source Serif 4", Palatino, Georgia, "Bookman Old Style", "Century Schoolbook", Times, "Times New Roman", serif;
    font-weight: 600;
    padding-top: 1rem;
}
#website-title {
    font-size: 2.5rem;
}
h1 {
    font-size: 1.8rem;
    text-align: center;
}
h2 {
    font-size: 1.65rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.35rem;
}
h5 {
    font-size: 1.2rem;
}
h6 {
    font-size: 1.11rem;
}
          /* ----- *
           | Lists |
           * ----- */
ol,
ul {
    padding-left: 1rem;
}
ul {
    list-style-type: "-  ";
}
li > ol,
li > ul {
    margin-top: 0rem;
}
nav ul {
    list-style: none;
    padding: 0rem;
}
nav ul li,
ul.tags-list li {
    display: inline;
    font-size: 1.2rem;
    padding: 0rem 0.45rem 0rem 0.45rem;
    text-align: center;
}
ul#social-links {
    list-style: none;
    padding: 0rem;
    text-align: center;
}
ul#social-links li {
    display: inline;
    padding: 0px 0.2rem 0px 0.2rem;
}
.post-tag {
    font-family: "Source Sans 3", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}
ul.tags-list {
    list-style: none;
}
          /* ----- *
           | Links |
           * ----- */
a:link {
    color: var(--blue-02);
}
a:visited {
    color: var(--purple);
}
a:focus,
a:hover,
a:active {
    color: var(--red);
}
header a:link,
header a:link,
header a:visited,
header a:focus,
header a:hover,
header a:active {
    text-decoration: none;
    color: var(--text-04);
}
.back-to-top:link,
.back-to-top:visited,
.back-to-top:focus,
.back-to-top:hover,
.back-to-top:active {
    color: var(--blue-01);
    text-decoration:none;
}
          /* ------------------------- *
           | Code & Pre-formatted Text |
           * ------------------------- */
code {
    white-space: pre-wrap;
}
code, pre {
    background-color: var(--background-01);
    border-radius: 0.4rem;
    color: var(--text-02);
    font-family: "Incolsolata LGC", "Inconsolata", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 0.9rem;
    margin: 0;
    padding: 0.15rem;
}
pre {
    margin: 1rem 0;
    overflow: auto;
    padding: 0.15rem;
}
pre code {
    overflow: visible;
    overflow-wrap: normal;
}
.sourceCode {
    background-color: var(--background-01);
    border-radius: 0.6rem;
    overflow: visible;
    padding: 0.15rem;
}
pre > code.sourceCode {
    position: relative;
    white-space: pre;
}
pre > code.sourceCode > span {
    display: inline-block;
    line-height: 1.5;
}
pre > code.sourceCode > span:empty {
    height: 1.2rem;
}
code.sourceCode > span {
    color: inherit;
    text-decoration: inherit;
}
div.sourceCode {
    margin: 1rem 0;
}
pre.sourceCode {
    margin: 0rem;
}
@media screen {
    div.sourceCode {
        overflow: auto;
    }
}
@media print {
    pre > code.sourceCode {
        white-space: pre-wrap;
    }
    pre > code.sourceCode > span {
        text-indent: -4rem;
        padding-left: 4rem;
    }
}
pre.numberSource code {
    counter-reset: source-line 0;
}
pre.numberSource code > span {
    counter-increment: source-line;
    left: -3rem;
    position: relative;
}
pre.numberSource code > span > a:first-child::before {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    border: none;
    color: var(--background-01);
    content: counter(source-line);
    display: inline-block;
    left: -1rem;
    padding: 0 4px;
    position: relative;
    text-align: right;
    user-select: none;
    vertical-align: baseline;
    width: 3rem;
}
pre.numberSource {
    border-left: 0.06rem solid var(--background-01);
    margin-left: 2rem;
    padding-left: 0.25rem;
}
@media screen {
    pre > code.sourceCode > span > a:first-child::before {
        text-decoration: underline;
    }
}
code span.kw { /* Keyword */
    color: var(--text-03);
    font-weight: bold;
}
code span.al,  /* Alert */
code span.er { /* Error */
    color: var(--red);
    font-weight: bold;
}
code span.an,  /* Annotation */
code span.cv,  /* CommentVar */
code span.in { /* Information */
    color: var(--blue-01);
    font-weight: bold;
    font-style: italic;
}
code span.at,  /* Attribute */
code span.bn,  /* BaseN */
code span.dv,  /* DecVal */
code span.fl,  /* Float */
code span.st { /* String */
    color: var(--green);
}
code span.ot { /* Other */
    color: var(--yellow)
}
code span.cf,  /* ControlFlow */
code span.im { /* Import */
    color: var(--purple);
    font-weight: bold;
}
code span.ch,  /* Char */
code span.va { /* Variable */
    color: var(--blue-02);
}
code span.fu { /* Function */
    color: var(--orange);
}
code span.cn,  /* Constant */
code span.dt { /* DataType */
    color: var(--red);
}
code span.co { /* Comment */
    color: var(--text-01);
}
code span.do { /* Documentation */
    color: var(--red);
    font-style: italic;
}
code span.op { /* Operator */
    color: var(--text-02);
}
code span.pp { /* Preprocessor */
    color: var(--brown);
}
code span.sc,  /* SpecialChar */
code span.vs { /* VerbatimString */
    color: var(--blue-01);
}
code span.ss,  /* SpecialString */
code span.bu { /* BuiltIn */
    color: var(--purple);
}
code span.wa { /* Warning */
    color: var(--orange);
    font-weight: bold;
}

          /* ------ *
           | Tables |
           * ------ */
table {
    border-collapse: collapse;
    display: block;
    font-variant-numeric: lining-nums tabular-nums;
    margin: 0.8rem 0;
    overflow-x: auto;
    width: 100%;
}
table caption {
    margin-bottom: 0.75rem;
}
tbody {
    border-bottom: 0.06rem solid var(--text-01);
    border-top: 0.06rem solid var(--text-01);
    margin-top: 0.5rem;
}
th {
    border-top: 0.06rem solid var(--text-01);
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
td {
    padding: 0.125rem 0.5rem 0.25rem 0.5rem;
}
          /* ----------------- *
           | Table of Contents |
           * ----------------- */
#TOC li {
    list-style: none;
}
#TOC a:not(:hover),
.directions {
    text-decoration: none;
}

          /* ----- *
           | Fonts |
           * ----- */

          /* Inconsolata LGC */
@font-face {
    font-display: swap;
    font-family: "Inconsolata LGC";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inconsolata-LGC.woff2") format("woff2"),
         url("../fonts/Inconsolata-LGC.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Inconsolata LGC";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Inconsolata-LGC-Italic.woff2") format("woff2"),
         url("../fonts/Inconsolata-LGC-Italic.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Inconsolata LGC";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Inconsolata-LGC-Bold.woff2") format("woff2"),
         url("../fonts/Inconsolata-LGC-Bold.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Inconsolata LGC";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/Inconsolata-LGC-BoldItalic.woff2") format("woff2"),
         url("../fonts/Inconsolata-LGC-BoldItalic.ttf") format("truetype");
}
          /* Source Sans 3 */
@font-face {
    font-display: swap;
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/source-sans-3-v18-latin-regular.woff2") format("woff2"),
         url("../fonts/source-sans-3-v18-latin-regular.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Source Sans 3";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/source-sans-3-v18-latin-italic.woff2") format("woff2"),
         url("../fonts/source-sans-3-v18-latin-italic.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/source-sans-3-v18-latin-700.woff2") format("woff2"),
         url("../fonts/source-sans-3-v18-latin-700.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Source Sans 3";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/source-sans-3-v18-latin-700italic.woff2") format("woff2"),
         url("../fonts/source-sans-3-v18-latin-700italic.ttf") format("truetype");
}
          /* Source Serif 4 */
@font-face {
    font-display: swap;
    font-family: "Source Serif 4";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/source-serif-4-v13-latin-regular.woff2") format("woff2"),
         url("../fonts/source-serif-4-v13-latin-regular.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Source Serif 4";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/source-serif-4-v13-latin-italic.woff2") format("woff2"),
         url("../fonts/source-serif-4-v13-latin-italic.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Source Serif 4";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/source-serif-4-v13-latin-600.woff2") format("woff2"),
         url("../fonts/source-serif-4-v13-latin-600.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Source Serif 4";
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/source-serif-4-v13-latin-600italic.woff2") format("woff2"),
         url("../fonts/source-serif-4-v13-latin-600italic.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Source Serif 4";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/source-serif-4-v13-latin-700.woff2") format("woff2"),
         url("../fonts/source-serif-4-v13-latin-700.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Source Serif 4";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/source-serif-4-v13-latin-700italic.woff2") format("woff2"),
         url("../fonts/source-serif-4-v13-latin-700italic.ttf") format("truetype");
}